name: Update WakaTime Stats

on:
  schedule:
    # Runs at 12 AM UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows you to run this manually for testing

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_PROJECTS: "False" # Set to True if you want to show project names
          SHOW_LINES_OF_CODE: "True"
          SHOW_LOC_CHART: "False"